.root {
  display: flex;
  position: relative;
  z-index: 1;
  overflow: hidden;
  flex: var(--split-pane-grow, initial);

  &[data-orientation="vertical"] {
    flex-direction: row;
  }

  &[data-orientation="horizontal"] {
    flex-direction: column;
  }
}
